<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DBConnectionTrackTime" providerName="System.Data.SqlClient"
        connectionString="Data Source=WIN-3C1R4KNFBPO\MSSQLSERVER01;Initial Catalog='Track_Time';Integrated Security=True" />
  </connectionStrings>

</configuration>